body {
	font-size: 18px;
	padding-left: 30px;
  padding-right: 30px;
  background-color: #b6b5de;
}

button {
	background-color: #00ffdc;
}
.more {
	font-size: 24px;
	color: green;
	display: block;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}


.user {
	display: inline;
	float: left;
}

.user:hover {
	color: blue;
}

.text {
	display: inline;
}